/* Import of Google fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*body of page*/

body {
    background:rgb(15, 35, 150);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    flex-wrap: wrap;
}


.quiz-board {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    border-radius: 10px;
    width: 65%;
    height: 70vh;
    max-height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}
 

.heading {
   font-size: 25px;
   font-weight: 500;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   padding: 15px 20px;
   border-bottom: 2px solid #cccccc;
}

.logo{
    height: 50px;
    padding-left: 5px;
}

.quiz-board .control-area {
    margin: 25px 25px 35px;
}

.data{
    height: 50px;
    margin: 1px;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 500;
    color: rgb(15, 35, 150);
    text-align: center;
}

.data input {
    font-size: 25px;
    font-weight: 500;
    color: rgb(15, 35, 150);
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.control-area .clue {
    margin: 20px 0 25px;

}

.clue {
    flex-wrap: wrap;
}

.clue p{
    font-size: 19px;
    margin-bottom: 10px;
    flex-wrap: wrap;
       
}

.question {
    text-align: left;
    margin-left: 60px;
    flex-wrap: wrap;
    
}

.btn-reset{
    width: 20%;
    font-size: 17;
    padding: 10px 0;
    cursor: pointer;
    background: red;
    color: white;
    border-radius: 5px;
       
}

.btn-answer{
    width: 20%;
    font-size: 17;
    padding: 10px 0;
    cursor: pointer;
    background: rgb(15, 35, 150);
    color: white;
    border-radius: 5px;
        
}

.score-area {
        padding: -20px;
    }

.scores{
    display: inline-block;
    padding: 20px;
    font-size: 21px;
}

#correct {
    color: rgb(15, 35, 150);
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

@media (max-width: 414px) {
    .data {
        width: 100%;
    }

   .clue {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .quiz-board {
        height: 70vh;
    }

    .data {
        width: 75%;
        margin: 10px auto;
    }

    .question-area {
        padding: 10px 0;
    }

}

